<section class="resellers line-up py-5" id="resellers_search">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                {% if sectionTitle %}
                <div class="col-12 text-center">
                    <h2 class="section-title mb-0 text-center">{{ sectionTitle }}</h2>
                </div>
                {% endif %}
                {% if paragraph %}
                <div class="col-12 text-center">
                    <p class="{{ paragraphClass }}">
                        {{ paragraph }}
                    </p>
                </div>
                {% endif %}

                {% if search_form %}
                    <div class="resellers-search-form">
                        {% include "organisms/form_clean/index.twig" with search_form %}
                    </div>
                {% endif %}
                <div class="resellers-result">
                    {% for reseller in resellers %}
                        <div class="reseller line-down mb-3 pb-2 ps-2">
                            <h4>{{ reseller.name }}</h4>
                            <p>{{ reseller.content|raw }}</p>                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>