<div class="accordion" id="accordion_information">
    {% for item in accordion %}
<div class="row line-up {% if loop.last %}line-down{% endif %}">

        <div class="col-12">
            <div class="container px-lg-0">
                <div class="row">
                    <div class="accordion-item col-12">
                        <h4 class="color-blue accordion-header" id="heading_{{ loop.index }}_{{item.ID}} {{item.ID}}">
                            <button class="h4 m-0 accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseInfo_{{ loop.index }}_{{item.ID}}" 
                                aria-expanded="true" aria-controls="collapseInfo_{{ loop.index }}_{{item.ID}}">
                                {{ item.accordionTitle }}
                            </button>
                        </h4>
                        <div id="collapseInfo_{{ loop.index }}_{{item.ID}}" class="accordion-collapse collapse" 
                                aria-labelledby="heading_{{ loop.index }}_{{item.ID}}" data-bs-parent="#accordion_information">
                            <div class="accordion-body{% if item.accordionType == "list" %} p-0{% endif %}">
                                
                                {% if item.accordionType == "list" %}

                                    <div class="d-flex flex-wrap">
                                        {% for prod in item.productsList %}
                                            <div class="col-3 list">
                                                {% include "components/archiveBox/index.twig" with prod %}
                                            </div>                                            
                                        {% endfor %}
                                    </div>
                                    {% if item.btnLoadMore %}
                                    <div class="d-flex">
                                        <a href="{{ item.btnLoadMore.url }}" class="btn btn-black linear-out mx-auto my-4">{{ item.btnLoadMore.text }}</a>
                                    </div>
                                    {% endif %}

                                {% elseif item.accordionType == "download" %}
                                
                                    {% for cat in item.accordionList %}
                                        <div class="download-list d-flex flex-column pb-4">
                                            <h5 class="font-bold color-grey">{{ cat.category_name }}</h5>
                                        
                                            {% for doc in cat.file_list %}
                                            <a href="{{ doc.url_file }}" 
                                            class="dowload-item color-blue font-regular icon-doc d-flex text-decoration-none pb-2">
                                                <span class="ps-2">{{ doc.name_file }} <span class="font-light">({{doc.type_file}}, {{doc.size_file }})</span></span>
                                            </a>
                                        {% endfor %}
                                        
                                        </div>
                                        {% endfor %}
                                        
                                        <a href="#" class="btn btn-black large linear-out">Download all</a>
                                {% else %}
                                    {{ item.accordionBody | raw }}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        	
    {% endfor %}
</div>
